.header__lang-link {
    max-width: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.header__lang-link:first-child {
    text-decoration: underline;
    padding-right: 18px;
}

@media screen and (min-width: 321px) and (max-width: 600px){
    .header__lang-link {
        max-width: 22px;
        font-size: 18px;
        line-height: 20px;
     }
   }
   
@media screen and (max-width: 320px){
    .header__lang-link {
       max-width: 22px;
       font-size: 18px;
       line-height: 20px;
    }
  }
  