.lead__content {
    padding: 64px 148px 8px 148px;
}

@media screen and (max-width: 768px){
    .lead__content {
        padding: 56px 0 0 0;
    }
}

@media screen and (max-width: 320px){
    .lead__content {
        padding: 40px 0 0 0;
    }
}