.lead__subtitle {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
    padding: 0;
    margin: 0 auto;
    max-width: 600px;
}

.lead__subtitle:nth-of-type(1) {
    padding-top: 32px;
}

@media screen and (max-width: 1024px){
    .lead__subtitle {
        padding: 0 192px;
    }
}

@media screen and (max-width: 768px){
    .lead__subtitle {
        padding: 0 64px;
    }
}

@media screen and (max-width: 320px){
    .lead__subtitle {
       font-size: 16px;
       line-height: 20px;
       padding: 0 16px;
    }
  }